{% extends 'base.html' %}

{% block title %}Receipe{% endblock %}

{% block content %}

<div class="container mt-5">

    <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>Register</h2> <hr>
        {% if messages %}
        <div class="alert alert-primary" role="alert">
            {% for message in messages %}
                {{ message }}
            {% endfor %}    
        </div>
        {% endif %}
        <hr>
        <div class="mb-3">
            <label for="first_name" class="form-label">First Name</label>
            <input type="text" class="form-control" id="first_name" name="first_name" aria-describedby="firstNameHelp" required>
            <div id="firstNameHelp" class="form-text">Enter your first name.</div>
        </div>
        <div class="mb-3">
            <label for="last_name" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="last_name" name="last_name" aria-describedby="lastNameHelp" required>
            <div id="lastNameHelp" class="form-text">Enter your last name.</div>
        </div>
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" aria-describedby="usernameHelp" required>
            <div id="usernameHelp" class="form-text">Choose a unique username.</div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" aria-describedby="passwordHelp" required>
            <div id="passwordHelp" class="form-text">Choose a strong password.</div>
        </div>
        <p>Already have an account? <a href="/login/">Login</a></p>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>

{% endblock %}
